<section>
  <div class="page-header">
    <h1>Qrcodes</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="qrcode in vm.qrcodes"
       ui-sref="qrcodes.view({ qrcodeId: qrcode._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="qrcode.created | date:'mediumDate'"></span>
        by
        <span ng-if="qrcode.user" ng-bind="qrcode.user.displayName"></span>
        <span ng-if="!qrcode.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="qrcode.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.qrcodes.$resolved && !vm.qrcodes.length">
    No Qrcodes yet, why don't you <a ui-sref="qrcodes.create">create one</a>?
  </div>
</section>
